<div class="container">
    
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <p id="notice"><%= notice %></p>
    
            <h1>Корзины</h1>
        </div>    
    </div>
    
    
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <% @carts.each do |cart| %>
            
                <div class="list_actions btn-group-xs">
                    <%= link_to 'Показать', cart, class: "btn btn-info" %>
                    <%= link_to 'Редактировать', edit_cart_path(cart), class: "btn btn-default btn-warning" %>
                    <%= link_to 'Удалить', cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-danger"  %>
                </div>
             
            <% end %>
            
            <%= link_to 'New Cart', new_cart_path, class: "btn btn-primary" %>
        </div>    
    </div>
</div>
