<div class="container">
    <% if notice %>
        <p id="notice"><%= notice %></p>
    <% end %>
    
    <!--    
    <h2>Ваша корзина</h2>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12">
                
            <%= render(@cart.line_items) %>
                        
            <div class="text_price">
                <span class="text-right">Итого:</span>
                <span class="item_price"><strong><%= number_to_currency(@cart.total_price) %></strong></span>
            </div>
        </div>
    </div>
    
    <%= button_to 'Очистить корзину', @cart, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
    <%= link_to 'Редактировать', edit_cart_path(@cart), class: "btn btn-default btn-warning" %>
    <%= link_to 'Назад', carts_path, class: "btn btn-default btn-info" %>
    -->
    
    <%= render @cart %>
    
</div>