<div class="div_products">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h1>Товары</h1>
            </div>
        </div>
        <% @products.each do |product| %>
            <div class="row <%= cycle('list_line_odd', 'list_line_even') %>">
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <a class="single" href="/assets/<%= product.image_url %>">
                        <%= image_tag(product.image_url, class: 'list_image') %>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-8">
                    <div class="list_description">
                        <div class="pr_title">
                            <%= product.title %>
                        </div>
                         <div class="pr_description">
                            <%= truncate(strip_tags(product.description), length: 80) %>
                        </div>
                        <div class="btn-group-xs">
                            <%= link_to 'Подробнее', product, class: "btn btn-default btn-success" %>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <div class="list_actions btn-group-xs">
                        <%= link_to 'Редактировать', edit_product_path(product), class: "btn btn-default btn-warning" %>
                        <%= link_to 'Удалить', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-danger" %>
                    </div>
                </div>
            </div>
        <% end %>
        
        <%= link_to 'New product', new_product_path, class: "btn btn-primary" %>
    </div>
</div>