<!DOCTYPE html>
<html>
    <head>
    <title>Depot</title>
        <%= csrf_meta_tags %>
        
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class='<%= controller.controller_name %>'>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 text-center">
                        <%= image_tag("logo.png", class: 'img-responsive') %>
                        <div>
                            <%= @page_title || "Pragmatic Bookshelf" %>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 text-center">
                        <ul class="menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Questions</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                        <div>
                            <div id="cart">
                                <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
                                    <%= render @cart %>
                                <% end %>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </header>
        
        <%= yield %>
        
        <footer>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    
                </div>
            </div>
        </footer>
        
    </body>
</html>
